<%= div_for(question) do %>
	<div class="link row clearfix">
		<div class="pull-left">
			<p class="lead"><%= link_to question.body, question %><br></p>
			<p><small>Submitted <strong><%= time_ago_in_words(question.created_at) %> ago</strong> by <%= question.user.name %></small></p>
		</div>
		<div class="btn-group pull-right">
			<% if question.user == current_user || current_user.try(:administrator?) -%>
			    <%= link_to edit_question_path(question), class: "btn btn-default", title: "Edit question" do %>
                            <i class="glyphicon glyphicon-edit"></i>
   				<% end %>
			    <% if current_user.administrator? %>
			    	<%= link_to question, class: "btn btn-default", title: "Delete question", method: :delete, data: { confirm: "Are you sure you want to delete this question?" } do %>
                            <i class="glyphicon glyphicon-trash"></i>
    				<% end %> 
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>