<h1>Questions</h1>

<% if @questions.blank? %>
  <h4>There are no recipes containing the term <%= params[:q] %>.</h4>
<% end %>

<table>
  <thead>
    <tr>
      <th>Forum</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.forum_id %></td>
        <td><%= question.body %></td>
        <td><%= question.user %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

