<div class="page-header">
    <h1><%= @question.body %></h1>
</div>

<% if @question.user == current_user || current_user.administrator? -%>
	<div class="btn-group">
		<%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>
		<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>

<h3 class="questions_title">
  <%= @question.answers.count %> Answers
</h3>

<div id="answers">
  <%= render :partial => @question.answers %>
</div>
<br>
<%= simple_form_for [@question, Answer.new]  do |f| %>
    <div class="field">
      <%= f.text_area :body, :placeholder => "Enter answer", class: "form-control" %>
    </div>
    <br>
    <%= f.submit "Add Answer", class: "btn btn-primary" %>
<% end %>

<%#= link_to 'Edit', edit_question_path(@question) %>
<br>
<%= link_to 'Back', forum_url(@question.forum_id) %>
