<div class="page-header">
    <h1><%= @forum.topic %></h1>
</div>
<% if @forum.user == current_user || current_user.try(:administrator?) -%>
	<div class="btn-group">
		<%= link_to edit_forum_path(@forum), class: "btn btn-default", title: "Edit forum" do %>
      <i class="glyphicon glyphicon-edit"></i>
    <% end %>
    <%= link_to @forum, class: "btn btn-default", title: "Delete forum", method: :delete, data: { confirm: "Are you sure you want to delete this forum?" } do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %> 
	</div>
<% end %>
  <h3 class="questions_title">
    <%= @forum.questions.count %> Questions
  </h3>
  
  <div id="questions">
    <%= render :partial => @forum.questions %>
  </div>
  <br>
  <%= simple_form_for [@forum, Question.new]  do |f| %>
      <div class="field">
        <%= f.text_area :body, :placeholder => "Enter question", class: "form-control" %>
      </div>
      <br>
      <%= f.submit "Add Question", class: "btn btn-custom" %>
  <% end %>
<br>

<%= link_to 'Back', forums_path %>