<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @forum.topic %>
  <%= link_to 'Edit', edit_forum_path(@forum) %> |
  <%= link_to 'Back', forums_path %>
  <%-# Here i run through the questions that have been posted and display -%>
  <%-# Check for forum_id to see if the question matches the given forum -%>
  <% for @q in @questions %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                    <%= @q.question_text %>
                        <p>
                            <% for @a in @answers %>
                                <% if @a.question_id.eql? @q.id %>
                                   <div class="panel panel-default">
                                        <div class="panel-body">
                                            <p><%= @a.answer_text %></p>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                        </p>
                    <%#= link_to 'Expand', a_answer_path %>
                    </p>
                </div>
            </div>
  <% end %>
  
  <%# renders the new question form, include a button that leads me to create new question %>
  <%= render '/questions/form' %>
</p>
