<div class="makeCenter">
    <figure class="snip0057 gold">
      <figcaption>
        <h2><span><%= @user.name %></span></h2>
        <p>
            <%= @user.email %><br>
            User reputation of <%= @user.reputation %><br>
            Course list<br><% @user.courses.each do |c| %><%= c.name %><br><% end %>
        </p>
        <div class="icons"><%= link_to edit_user_path(@user), class: "btn btn-sm", title: "Edit user" do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to admin_destroy_user_path(@user), class: "btn btn-sm", title: "Delete user", method: :delete, data: { confirm: "Are you sure you want to delete this forum?" } do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>   </div>
      </figcaption>
      <div class="image"><img <%=image_tag("NKU1.jpg")%> alt="NKU1"/></div>
        <div class="position">
            <% if @user.administrator? %>
                Administrator
            <% elsif @user.faculty? %>
                Faculty
            <% else %>
                Student
            <% end %>
        </div>
    </figure>   
</div>
