<div class="makeCenter">
    <div class="container">
        <% if current_user.administrator? -%>
            <%= render 'admin_index' %>
        <% else %>
                <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table class="table user-list">
                                    <thead>
                                        <tr>
                                        <th><span>User</span></th>
                                        <th><span>Reputation</span></th>
                                        <th><span>Email</span></th>
                                        <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <% @users.each do |user| %>
                                        <% if not user.administrator %>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="/NKU_CMYK_D.gif" alt="">
                                                        <div class="user-link">
                                                            <%= link_to user.name, user_path(user) %>
                                                        </div>
                                                        <span class="user-subhead">
                                                            <% if user.administrator? %>
                                                                Administrator
                                                            <% elsif user.faculty? %>
                                                                Faculty
                                                            <% else %>
                                                                Student
                                                            <% end %> 
                                                        </span>
                                                    </td>
                                                    <td><%= user.reputation %></td>
                                                    <td><%= user.email %></td>
                                            	</tr>
                                            	<script>
                                                    $(document).ready(function(){
                                                        $('[data-toggle="tooltip"]').tooltip(); 
                                                    });
                                                </script>
                                            </tbody>
                                        <% end %>
                                    <% end %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= will_paginate @users, render: BootstrapPagination::Rails, :class => "digg_pagination center" %>
        <% end %>
    </div>
</div>
