<% if current_user.administrator? -%>
    <%= render 'admin_show' %>
<% else %>
    <div class="makeCenter">
         <figure class="snip0057 gold">
        <figcaption>
        <h2><span><%= @user.name %></span></h2>
        <p>
            <%= @user.email %><br>
            User reputation of <%= @user.reputation %><br>
            Course list<br><% @user.courses.each do |c| %><%= c.name %><br><% end %>
        </p>
        <br>
        <div class="icons"></div>
        </figcaption>
            <div class="image"><img <%=image_tag("NKU1.jpg")%> alt="NKU1"/></div>
            <div class="position">
                <% if @user.administrator? %>
                    Administrator
                <% elsif @user.faculty? %>
                    Faculty
                <% else %>
                    Student
                <% end %>
            </div>
        </figure> 
    </div>
   
<% end %>
