<p id="notice"><%= notice %></p>

<p>
  <strong>Answer text:</strong>
  <%= @answer.answer_text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @answer.date %>
</p>

<p>
  <strong>User:</strong>
  <% if @answer.user_id %>
    <%= User.find(@answer.user_id).name %>
  <% else %>
    <%= @answer.user_id %>
  <% end %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
