<div class="makeCenter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table course-list">
                                <thead>
                                    <tr>
                                    <th><span>Course</span></th>
                                    <th><span>Section</span></th>
                                    <th><span>Time</span></th>
                                    <th><span>Professor</span></th>
                                    <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <% @courses.includes(:user).each do |course| %>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="course-link">
                                                    <%= link_to course.name, course_path(course) %>
                                                </div>
                                            </td>
                                            <td><%= course.section %></td>
                                            <td><%= course.time %></td>
                                            <% if course.user_id %>
                                                <td><% course.user.name %></td>
                                            <% end %>
                                    	</tr>
                                    	<script>
                                            $(document).ready(function(){
                                                $('[data-toggle="tooltip"]').tooltip(); 
                                            });
                                        </script>
                                    </tbody>
                                <% end %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<%= link_to "Add Course", new_course_path, title: "Add a single course", class: "btn btn-custom" %>
<br>
<h5>Import Courses</h5>
<%= form_tag import_courses_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag("Import CSV") %>
<% end %>