<p id="notice"><%= notice %></p>

  <div style="background:var(--nku-gold) !important" class="jumbotron">
    <div class="makeCenter">
      <h1><%= @course.name %></h1>
    </div>
  </div>
  
<p>
  <h3>Professor:
    <%= @course.user.name %>
  </h3>
</p>

<p>
  <h3>Time:
    <%= @course.time %>
  </h3>
</p>

<p>
  <h3>Section:
    <%= @course.section %>
  </h3>
</p>

<h3>Enrolled students:</h3>
  <% @course.users.each do |c| %>
    <h4><%= c.name %></h4>
  <% end %> 

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |
<%= link_to @course, class: "btn btn-default", title: "Delete course", method: :delete, data: { confirm: "Are you sure you want to delete this course?" } do %>
      <i class="glyphicon glyphicon-trash"></i>
    <% end %> 
