<!DOCTYPE html>
<html>
<head>
  <title>NKUNET</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%# Alert messages for bootstrap %>
  <% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	
	<% if user_signed_in? -%>
		<%# <ul class="nav navbar-nav navbar-right"> %>
		<ul>
			<li><%= link_to 'Submit Forum', new_forum_path %></li>
			<li><%= link_to 'Account', edit_user_registration_path %></li>
			<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		</ul>
	<% else -%>
		<%# <ul class="nav navbar-nav pull-right"> %>
		<ul>
			<li><%= link_to 'Sign up', new_user_registration_path %></li>
			<li><%= link_to 'Sign in', new_user_session_path %></li>
		</ul>
	<% end -%>

<%= yield %>

</body>
</html>
